.angular-rating-icons {
    text-align: left;
    display: inline-block;
    padding: 0;
    list-style: none;
}

.angular-rating-icons > li {
    display: inline-block;
    padding: 0;
    cursor: pointer;
}

.angular-rating-icons-decimal > li {
    overflow: hidden;
    position: relative;
}

.angular-rating-icons-decimal > li > i {
    position: absolute;
}
